html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.titleFont {
  width : 300%;
  color : greenyellow;
  font-size: 80px;
  font-style: oblique;
}
.increaseSize {
  font-size: 40px;
}
.imgIncreasedSize {
  width : 1800px;
  height: 1000px
}